.mdl-card {
  width: 100%;
  max-width: 400px;
	margin: 1rem auto;
}

a { /* for cards content */
  text-decoration: none;
}

h5 { /* for card titles */
	margin-bottom: 0px;
}
.mdl-card__subtitle-text {
	color:rgba(255, 255, 255, 0.8);
}

.personal-card > .mdl-card__title {
  color: #fff;
  padding-top:110%;
  background: url('https://aboutme.imgix.net/background/users/g/r/a/grapescan_1498736035_83.jpg?q=40&dpr=2&auto=format&fit=max&w=1200&h=1797.7528089887642')  scroll no-repeat center / cover;
}

.metronome-card > .mdl-card__title {
  color: #fff;
  padding-top:30%;
  background: linear-gradient(to top, rgba(0, 48, 79, 0.7), rgba(0, 0, 0, 0)), url('images/metronome.png') center / cover;
}

.pairs-card > .mdl-card__title {
  color: #fff;
  padding-top:30%;
  background: linear-gradient(to top, rgba(74, 20, 140, 0.7), rgba(0, 0, 0, 0)), url('images/pairs.png') center / cover;
}

.birthdays-card > .mdl-card__title {
  color: #fff;
  padding-top:30%;
  background: linear-gradient(to top, rgba(10, 10, 110, 0.7), rgba(0, 0, 0, 0)), url('images/birthdays.png') center / cover;
}

.molniya-card > .mdl-card__title {
  color: #fff;
  padding-top:30%;
  background: linear-gradient(to top, rgba(10, 10, 110, 0.7), rgba(0, 0, 0, 0)), url('images/molniya.png') center / cover;
}

ul {
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.social-links {
    margin: 0 auto;
}

li.social-links {
    display:inline-block;
    list-style-type: none;
}

a.social-link {
    padding: 0;
    margin: 10px;
    width: 36px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    display: block;
    float: left;
    -webkit-font-smoothing: antialiased;
    color: rgba(54, 71, 78, .7);
}
